<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>BootMVC</title>
</head>
<body>
	<h2>Products Data Page</h2>
	<table border="1">
		<tr>
			<th>Product ID</th>
			<th>Product Name</th>
			<th>Product Cost</th>
			<th>Product GST</th>
			<th>Product Discount</th>
			<th colspan="3">Operation</th>
		</tr>
		<tr th:each="obj:${listAllDataMessage}">
			<td th:text="${obj.productId}"></td>
			<td th:text="${obj.productName}"></td>
			<td th:text="${obj.productCost}"></td>
			<td th:text="${obj.productGst}"></td>
			<td th:text="${obj.productDiscount}"></td>
			
			<!-- URL Re-Writting -->
			<td>
			   <a th:href="@{/product/delete/{id}(id=${obj.productId})}">Delete</a>
			</td>
			<td>
			    <a th:href="@{/product/view/{id}(id=${obj.productId})}">View</a>
			</td>
			<td>
			    <a th:href="@{/product/edit/{id}(id=${obj.productId})}">Edit</a>
			</td>
		</tr>
	</table>
	<span th:text="${deleteMassage}"></span>
</body>
</html>