<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>BootMVC</title>
</head>
<body>
	<h2>Welcome To Products Edit Page</h2>
	<form th:action="@{/product/update}" method="POST"
		th:Object="${product}">
		<pre>
		Product ID:<input type="text" th:field="*{productId}" readonly="readonly" />
        Product Name:<input type="text" th:field="*{productName}" />
        Product Cost:<input type="text" th:field="*{productCost}" />
         Product GST:<input type="text" th:field="*{productGst}" />
        Product Discount:<input type="text" th:field="*{productDiscount}" />
                       <input type="submit" value="Update" />
       </pre>
	</form>
	<span th:text="${updateMessage}"></span>
</body>
</html>